body {
  font-family: 'Lato', sans-serif;
  background-color: #f0f0f0;
}

p {
  text-align: center;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.site {
  order: 1;
  font-size: 1.75em;
  width: 2em;
}
.navigation{
  display: flex;
  flex-flow: column;
  background-color: black;
  height: 110%;
  }
}

nav ul{
  display: none;
}

nav ul li{
  display: block;
}

.table {
    table-layout: fixed;
    max-width: none;
    flex-flow: wrap;
    width: 100%;
}

.TableLinks a:link, .TableLinks a:visited, .TableLinks a:active {
  text-decoration: none;
  background-color: transparent;
  color: black;
}

.TableLinks a:hover {
  text-decoration: none;
  color: #fece2f;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;

}

tr:hover {
  background-color: #fece2f;
}

.cs1950 a:visited {
  color: black;
}
.cs1950 a:hover{
  color: #fece2f;
}

a:link, a:visited {
  color: black;
}

a:hover {
  color: #fece2f;
}

a:active {
  background-color: #fece2f;
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
    background-color: black;
    color: white;
}

.site{
  display:block;
  width:100%;
  background:black;
  color:white;
  margin-bottom: -16px;
  padding-top: 16px;
}

#nav1 {
  display: none;
  padding-bottom: 20px;
}

#searchlink {
  text-align: left;
  padding-left: 10%;
}

#searchlink a:visited {
  color: black;
}

#searchlink a:hover{
 color: #fece2f;
}

.results {
  text-align: left;
  color: black;
  margin-right: 0;
  margin-left:0;
}

#search{
  text-align: center;
}


@media (max-width: 800px) {

  .logo-small {
    display: none;
  }


  .table{
    display: flex;
    flex-flow: wrap;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

th, td {
  font-size: 0.5rem;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
}

@media (min-width: 1080px){
  #navposters img{
    width: 510px;
    display: flex;
    flex: column;
    padding: 2px;
    position: relative;
    margin: 0 auto;
  }
}

@media (min-width: 800px){
  .table{
    display: flex;
    flex-flow: wrap;
  }

th, td {
  font-size: 1.3rem;
  width: 80%;
}

  #nav1{
    display: flex;
  }

  .logo-large {
    display: none;
  }

  .navigation {
    flex-flow: row;
    justify-content: flex-end;
  }

  .site {
    display: none;
  }

  .all {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    max-width: 100%;
  }
}

#name {
  text-align: center;
  max-width: 800px;
}
#words {
  padding: 5px;
  max-width: 800px;
  text-align: left;
}

#words a:link, a:visited{
  color: black;
}

a:link, a:visited{
  color: black;
}
#filmmakers a:hover {
  color:#fece2f;
}
#filmmakers a:visited {
  color:black;
}

#connect  {
  color: black;
}

#connect a:hover {
  color: #fece2f;
}

#doe {
display: block;
text-align: inherit;
}

.doepic {
  display: center;
}

#johndoe {
  text-align: center;
}

.bio {
  display:flex;
  flex-flow: column;
  flex-wrap: wrap;
  max-width: 15%;
  padding-left: 4em;
  padding-right: 4em;
  text-align: left;
}


.bio2 {
  display:flex;
  flex-flow: column;
  flex-wrap: wrap;
  max-width: 40%;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
}

#about {
  text-align: left;
}


#heads {
  font-family: 'Raleway', sans-serif;
}

#nav1 {
  padding: 0;
}

#nav1 li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size:2rem;
}

#nav1 a:link, a:visited {
  display: block;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  padding: 10px;
  padding-left: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
}

#nav1 a:hover, a:active{
  color: #fece2f;
  background-color: #000000;
}

#nav2{
  text-align: center
}
#subheads {
  font-family: 'Open Sans Condensed', sans-serif;
}

#footer a:link, a:visited {
  color: #ffffff;
  background-color: #000000;
  text-decoration:none;
}

#footer {
  padding-right: 50px;
  list-style-type: none;
  color: #ffffff;
  background-color: #000000;
  font-size: 3rem;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  border-top: 1px;
  text-align: right;
}
#footer li{
  display:inline;
}

#bodycontainer {
  background-color: #f0f0f0;
  width: 100%;
  font-size: 1.5em;
}

.all {
  display:flex;
  flex-flow: row;
  flex-wrap: wrap;
  max-width: 100%;
}
.all a:hover{
  color:#fece2f
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: #C0C0C0;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 5%;
    padding-left: 45%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #C0C0C0;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #000000;
}

#navposters {
  list-style-type: none;
  text-decoration: none;
  column-count: 2;
  column-gap: 15px;
  margin: auto;
}

h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  font-family:'Raleway', sans-serif;
  text-align: center;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /*16:9 ratio*/
  padding-top: 10%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 85%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 4rem;
  text-align: center;
   position: inherit;
   top: 450px;
   left: 0;
   width: 100%;
   padding-top: 1rem;
}

h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2rem;
  text-align: center;
   position: inherit;
   top: 450px;
   left: 0;
   width: 100%;
   padding-top: 1rem;
}

/* mini menu on concerned student 1950 */
ul#jump {
	font-family:'Open Sans Condensed', sans-serif;
  display: block;
  background-color: black;
	text-align: center;
	font-size: 3rem;
	padding: 7px 0;
	color: #ffffff;
	margin: 0;
	}
ul#jump li {
	list-style: none;
	display: inline;
	padding: 0 30px;
	margin: 0;
	}
ul#jump a:link, ul#jump {
	text-decoration: none;
	color: white;
	}
ul#jump a:hover, ul#jump a:active {
	text-decoration: underline;
	color: #fece2f;
	}
ul#jump:hover, ul#jump a:link, ul#jump:focus,
ul#jump:hover a:visited, ul#jump:focus a:visited {
	text-decoration: none;
	color: white;
	}
ul#jump:hover a:hover, ul#jump:focus a:hover,
ul#jump:hover a:active, ul#jump:focus a:active {
	text-decoration: underline;
	background: #000000;
	color: #ebe3ce;
	}
ul#jump  {
	content: " | ";
	}
ul#jump li:first-child:before {
	content: " ";
	}

#aboutlogo {
  text-align: center;
  display: flex;
  max-width: 600px;
  max-height: 200px;
}

.toplink, .toplink a:link, .toplink a:visited {
  text-align:center;
  color: black;
  background-color:#f0f0f0;
}

.paragraph {
  display: flex;
}


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.photos {
  text-align: center;
  font-size: 0.75rem;
  color: gray;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  text-shadow: 2px 2px 5px #2a2a2a;
  font-size: 1.5em;
  font-family: inherit;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  text-align: left;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.table {
  overflow-y: hidden;
  overflow-x: auto;
}

.table td:before {
  content: attr(datalabel);
  float: left;
}

.crisis {
  visibility: hidden;
  color: white;
  font-size: 11px;
}

#carousel {
    width: 100%;
    margin-bottom: -25px;
    white-space:nowrap;
    overflow-x: hidden;
    overflow-x: scroll;
}

#carousel .slide {
    display: inline-block;
}

@media (max-width: 950px) {

  #carousel img {
    height: 356px;
    width: 240px;
  }
  #aboutlogo img {
    text-align: left;
    display: flex;
    max-width: 100%;
    max-height: auto;
  }


}

@media (min-width: 550px) {

  #carousel img {

    height: 444px;
    width: 300px;
  }

}

h1.arrow {
    margin-top: -35px;
}

@-moz-document url-prefix() {
    .logo-small {
        height: 1.4em;
    }
}

@supports (-ms-ime-align:auto) {
  .logo-small {
      height: 44px;
  }
}
}
